<div class="ec-left-sidebar ec-bg-sidebar">
    <div id="sidebar" class="sidebar ec-sidebar-footer">

        <div class="">
            <a href="/admin/" title="Ekka">
                <img class="" src="/assets/images/logo/LOGO DESIGN RED SHIFT _page-0001.jpg" alt="" style="width: 90px; height: auto;" />
                <!-- <span class="ec-brand-name text-truncate">Ekka</span> -->
            </a>
        </div>
        

        <!-- begin sidebar scrollbar -->
        <div class="ec-navigation" data-simplebar>
            <!-- sidebar menu -->
            <ul class="nav sidebar-inner" id="sidebar-menu">
                <!-- Dashboard -->
                <li class="active">
                    <a class="sidenav-item-link" href="/admin/">
                        <i class="mdi mdi-view-dashboard-outline"></i>
                        <span class="nav-text">Dashboard</span>
                    </a>
                    <hr>
                </li>

                <!-- Vendors -->
                <!-- <li class="has-sub">
                    <a class="sidenav-item-link" href="javascript:void(0)">
                        <i class="mdi mdi-account-group-outline"></i>
                        <span class="nav-text">Vendors</span> <b class="caret"></b>
                    </a>
                    <div class="collapse">
                        <ul class="sub-menu" id="vendors" data-parent="#sidebar-menu">
                            <li class="">
                                <a class="sidenav-item-link" href="vendor-card.html">
                                    <span class="nav-text">Vendor Grid</span>
                                </a>
                            </li>

                            <li class="">
                                <a class="sidenav-item-link" href="vendor-list.html">
                                    <span class="nav-text">Vendor List</span>
                                </a>
                            </li>
                            <li class="">
                                <a class="sidenav-item-link" href="vendor-profile.html">
                                    <span class="nav-text">Vendors Profile</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li> -->

                <!-- Users -->
                <li class="has-sub">
                    <a class="sidenav-item-link" href="javascript:void(0)">
                        <i class="mdi mdi-account-group"></i>
                        <span class="nav-text">Users</span> <b class="caret"></b>
                    </a>
                    <div class="collapse">
                        <ul class="sub-menu" id="users" data-parent="#sidebar-menu">
                            <!-- <li>
                                <a class="sidenav-item-link" href="/admin/user-grid">
                                    <span class="nav-text">User Grid</span>
                                </a>
                            </li> -->

                            <li class="">
                                <a class="sidenav-item-link" href="/admin/user-list">
                                    <span class="nav-text">User List</span>
                                </a>
                            </li>
                            <!-- <li class="">
                                <a class="sidenav-item-link" href="/admin/user-profile">
                                    <span class="nav-text">Users Profile</span>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                    <hr>
                </li>

                <!-- Category -->
                <li class="has-sub">
                    <a class="sidenav-item-link" href="javascript:void(0)">
                        <i class="mdi mdi-dns-outline"></i>
                        <span class="nav-text">Categories</span> <b class="caret"></b>
                    </a>
                    <div class="collapse">
                        <ul class="sub-menu" id="categorys" data-parent="#sidebar-menu">
                            <li class="">
                                <a class="sidenav-item-link" href="/admin/main-category">
                                    <span class="nav-text">Main Category</span>
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                </li>

                <!-- Products -->
                <li class="has-sub">
                    <a class="sidenav-item-link" href="javascript:void(0)">
                        <i class="mdi mdi-palette-advanced"></i>
                        <span class="nav-text">Products</span> <b class="caret"></b>
                    </a>
                    <div class="collapse">
                        <ul class="sub-menu" id="products" data-parent="#sidebar-menu">
                            <li class="">
                                <a class="sidenav-item-link" href="/admin/product-add">
                                    <span class="nav-text">Add Product</span>
                                </a>
                            </li>
                            <li class="">
                                <a class="sidenav-item-link" href="/admin/product-list">
                                    <span class="nav-text">List Product</span>
                                </a>
                            </li>
                          
                        </ul>
                    </div>
                </li>

                <!-- Orders -->
                <li class="has-sub">
                    <a class="sidenav-item-link" href="javascript:void(0)">
                        <i class="mdi mdi-cart"></i>
                        <span class="nav-text">Orders</span> <b class="caret"></b>
                    </a>
                    <div class="collapse">
                        <ul class="sub-menu" id="orders" data-parent="#sidebar-menu">
                            <!-- <li class="">
                                <a class="sidenav-item-link" href="/admin/order-new">
                                    <span class="nav-text">New Order</span>
                                </a>
                            </li> -->
                            <li class="">
                                <a class="sidenav-item-link" href="/admin/order-history">
                                    <span class="nav-text">Order History</span>
                                </a>
                            </li>
                            <!-- <li class="">
                                <a class="sidenav-item-link" href="/admin/order-details">
                                    <span class="nav-text">Order Detail</span>
                                </a>
                            </li> -->
                            <!-- <li class="">
                                <a class="sidenav-item-link" href="/admin/order-invoice">
                                    <span class="nav-text">Invoice</span>
                                </a>
                            </li> -->
                        </ul>
                    </div>
                </li>

              

                <!-- Authentication -->
                <!-- <li class="has-sub">
                    <a class="sidenav-item-link" href="javascript:void(0)">
                        <i class="mdi mdi-login"></i>
                        <span class="nav-text">Authentication</span> <b class="caret"></b>
                    </a>
                    <div class="collapse">
                        <ul class="sub-menu" id="authentication" data-parent="#sidebar-menu">
                            <li class="">
                                <a href="sign-in.html">
                                    <span class="nav-text">Sign In</span>
                                </a>
                            </li>
                            <li class="">
                                <a href="sign-up.html">
                                    <span class="nav-text">Sign Up</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li> -->

                <!-- Icons -->
                <li class="has-sub">
                    <a class="sidenav-item-link" href="javascript:void(0)">
                        <i class="mdi mdi-diamond-stone"></i>
                        <span class="nav-text">Coupons</span> <b class="caret"></b>
                    </a>
                    <div class="collapse">
                        <ul class="sub-menu" id="icons" data-parent="#sidebar-menu">
                            <li class="">
                                <a class="sidenav-item-link" href="/admin/coupon-list">
                                    <span class="nav-text">coupons list</span>
                                </a>
                            </li>
                           
                        </ul>
                    </div>
                </li>

                <!-- Other Pages -->
                
            </ul>
        </div>
    </div>
</div>