<body class="ec-header-fixed ec-sidebar-fixed ec-sidebar-dark ec-header-light" id="body">
	<!-- WRAPPER -->
	<div class="wrapper">
		<!-- LEFT MAIN SIDEBAR -->
		<!-- Add sidebar content here if needed -->

		<!-- PAGE WRAPPER -->
		<div class="ec-page-wrapper">

			<!-- HEADER -->
			<!-- Add header content here if needed -->

			<!-- CONTENT WRAPPER -->
			<div class="ec-content-wrapper">
				<div class="content">
					<div class="error-wrapper border bg-white px-5">
						<div class="row justify-content-center align-items-center text-center">
							<!-- Error Text Section -->
							<div class="col-xl-4">
								<h1 class="text-primary bold error-title">404</h1>
								<p class="pt-4 pb-5 error-subtitle">Looks like something went wrong.</p>
								<a href="/" class="btn btn-primary btn-pill">Back to Home</a>
							</div>

							<!-- Error Image Section -->
							<div class="col-xl-6 pt-5 pt-xl-0 text-center">
								<img src="/asset/img/lightenning.png" class="img-fluid" alt="Error Page Image">
							</div>
						</div>
					</div>
				</div> <!-- End Content -->
			</div> <!-- End Content Wrapper -->

			<!-- FOOTER -->
		

		</div> <!-- End Page Wrapper -->
	</div> <!-- End Wrapper -->
</body>
