<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Ekka - Admin Dashboard HTML Template.">

		<title>Red Shift</title>
    <!-- Linking the CSS file -->
    <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;family=Poppins:wght@300;400;500;600;700;800;900&amp;family=Roboto:wght@400;500;700;900&amp;display=swap" rel="stylesheet">
  
    <link href="../../../../../cdn.jsdelivr.net/npm/%40mdi/font%404.4.95/css/materialdesignicons.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font/css/materialdesignicons.min.css" rel="stylesheet">
  
    <!-- PLUGINS CSS STYLE -->
    <link href="/asset/plugins/simplebar/simplebar.css" rel="stylesheet" />
  
    <!-- Data Tables -->
    <link href='/asset/plugins/data-tables/datatables.bootstrap5.min.css' rel='stylesheet'>
    <link href='/asset/plugins/data-tables/responsive.datatables.min.css' rel='stylesheet'>
  
    <!-- ekka CSS -->
    <link id="ekka-css" rel="stylesheet" href="/asset/css/ekka.css" />
  
    <!-- FAVICON -->
    <link href="/assets/images/logo/LOGO DESIGN RED SHIFT _page-0001.jpg" rel="shortcut icon" />
    <!-- FAVICON -->

    
      <!-- toast -->
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css" rel="stylesheet">
     <!-- ///////////toast -->
</head>
<body>
    <!-- The content of your view will be injected here -->
    <%- body %>
  <!-- toast -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <!-- ///////////toast -->


    <script src="/asset/plugins/jquery/jquery-3.5.1.min.js"></script>
    <script src="/asset/js/bootstrap.bundle.min.js"></script>
    <script src="/asset/plugins/simplebar/simplebar.min.js"></script>
    <script src="/asset/plugins/jquery-zoom/jquery.zoom.min.js"></script>
    <script src="/asset/plugins/slick/slick.min.js"></script>
  
    <!-- Chart -->
    <script src="/asset/plugins/charts/Chart.min.js"></script>
    <script src="/asset/js/chart.js"></script>
  
    <!-- Google map chart -->
    <script src="/asset/plugins/charts/google-map-loader.js"></script>
    <script src="/asset/plugins/charts/google-map.js"></script>
  
    <!-- Date Range Picker -->
    <script src="/asset/plugins/daterangepicker/moment.min.js"></script>
      <script src="/asset/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="/asset/js/date-range.js"></script>
  
    <!-- Option Switcher -->
    <script src="/asset/plugins/options-sidebar/optionswitcher.js"></script>
  
    <!-- Ekka Custom -->
    <script src="/asset/js/ekka.js"></script>
</body>
</html>
